@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617;
  color: #f8fafc;
}
